{% extends "GetunikBleedHdAssessmentUIBundle::layout-user.html.twig" %}

{% trans_default_domain 'AssessmentUIBundle' %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock fos_user_content %}
