
<!-- Header -->
<top-nav title="Patient details" nav-url="#/patients" nav-label="Back to patient overview" nav-scope="overview"></top-nav>

<!-- Patient Details -->
<panel>
	<div class="row">
		<div class="col-xs-12">
			<h4>{{ ctlPatient.patient | patientname }}</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			Date of birth: {{ ctlPatient.patient.birthdate.date | isodate }}<br/>
			Gender: {{ ctlPatient.patient.sex | gender }}<br/>
			Date of initial diagnosis: {{ ctlPatient.patient.diagnosis_date.date | isodate }}<br/>
			Diagnosis: {{ ctlPatient.patient.diagnosis }}<br/>
			<span ng-if="ctlPatient.currentStatus">Status since {{ ctlPatient.currentStatus.transplant_date.date | isodate }}: {{ ctlPatient.currentStatus.transplant_type }} <span ng-if="ctlPatient.currentStatus.transplant_source || ctlPatient.currentStatus.transplant_custom">({{ ctlPatient.currentStatus.transplant_source || ctlPatient.currentStatus.transplant_custom }})</span></span>
		</div>
		<div class="col-xs-12 col-sm-6">
			Patient number: {{ ctlPatient.patient.patient_number }}<br/>
			UPN-Numer: {{ ctlPatient.patient.upn }}
		</div>
		<div class="col-xs-12">
			<a class="btn btn-default pull-right" href="#/patients/edit/{{ ctlPatient.patient.id }}">Edit patient</a>
		</div>
	</div>
</panel>

<!-- Assessments / Status Tabs -->
<div class="container">
	<div class="row">
		<div class="col-xs-12">

<!--
			<ul id="tab_patient_details" class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#assessments" id="tab_assessments" role="tab" data-toggle="tab" aria-controls="assessments" aria-expanded="true">Assessments</a>
				</li>
				<li role="presentation">
					<a href="#status" role="tab" id="tab_status" data-toggle="tab" aria-controls="status">Status</a>
				</li>
			</ul>
-->

			<tabset>
				<tab heading="Assessments" active="ctlPatient.tabs.assessments">

					<div class="row bleed-section-header">
						<div class="col-xs-12">
							<a ng-disabled="!ctlPatient.supportsAssessmentGroup('gvhd')" class="btn btn-default pull-right" href="#/patients/{{ ctlPatient.patient.id }}/assessment/new/gvhd">
								New GVHD Assessment
							</a>

							<a ng-disabled="!ctlPatient.supportsAssessmentGroup('bleeding')" class="btn btn-default pull-right" href="#/patients/{{ ctlPatient.patient.id }}/assessment/new/bleeding">
								New Bleeding Assessment
							</a>
						</div>
					</div><!-- /.row -->

					<div class="row bleed-section-header">

						<div class="col-xs-12 clearfix">

							<h3 class="pull-left">Assessment overview</h3>

						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">

							<div class="well bleed-filter">
								<form class="form form-inline clearfix" role="search">
									<div class="checkbox">
										<label>
											<input type="checkbox" checked="checked" ng-model="ctlPatient.assessmentFilter.who"> Show WHO
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" checked="checked" ng-model="ctlPatient.assessmentFilter.bsms"> Show BSMS
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" checked="checked" ng-model="ctlPatient.assessmentFilter.gvhd"> Show GVHD
										</label>
									</div>
									<!-- BSBLEED-208: removed as requested
									<button class="btn btn-default pull-right" ng-click="ctlPatient.resetAssessmentFilter()">Show all</button>
									-->
								</form>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">

							<div class="panel panel-default">
								<div class="panel-body">

									<table class="table table-hover">
										<thead>
											<tr>
												<th>Date</th>
												<th>Type</th>
												<th>PLT</th>
												<th>Result</th>
												<th>Progress</th>
												<th class="detail-col"><a ng-href="{{ 'documents/Assessment-Overview-Info.pdf' | assessmentResource }}" target="_blank"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></th>
											</tr>
										</thead>
										<tbody>
											<tr link-row="true" ng-repeat="assessment in ctlPatient.patient.assessments | orderBy:'start_date.date':true | filter:ctlPatient.byAssessmentType()">
												<td>{{ assessment.start_date.date | isodate }}</td>
												<td>{{ assessment.questionnaire | toQName }}</td>
												<td>{{ assessment.platelets }}</td>
												<td>{{ assessment | score }}</td>
												<td>{{ assessment.progress | progress }}</td>
												<td class="detail-col"><a class="btn btn-default btn-xs" href="#/patients/{{ ctlPatient.patient.id }}/assessment/edit/{{ assessment.id }}">Details</a></td>
											</tr>
										</tbody>
									</table>

								</div>
							</div>

						</div>
					</div>

				</tab>

				<tab heading="Status" active="ctlPatient.tabs.status">

					<div class="row">
						<div class="col-xs-12 clearfix">

							<h3 class="pull-left">Status overview</h3>

							<a class="btn btn-default pull-right" href="#/patients/{{ ctlPatient.patient.id }}/status/new">
								New Status
							</a>

						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">

							<div class="panel panel-default">
								<div class="panel-body">

									<table class="table table-hover">
										<thead>
											<tr>
												<th>Date</th>
												<th>Intervention</th>
												<th>Source</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr link-row="true" ng-repeat="status in ctlPatient.patient.statuses | orderBy:'transplant_date':true" data-id="{{ status.id }}">
												<td>{{ status.transplant_date.date | isodate }}</td>
												<td>{{ status.transplant_type }}</td>
												<td>{{ status.transplant_source || status.transplant_custom }}</td>
												<td><a class="btn btn-default btn-xs" href="#/patients/{{ ctlPatient.patient.id }}/status/edit/{{ status.id }}">Details</a></td>
											</tr>
										</tbody>
									</table>

								</div>

							</div>

						</div>
					</div>

				</tab>

				<tab heading="Remarks" active="ctlPatient.tabs.remarks">

					<div class="row">
						<div class="col-xs-12 clearfix">

							<h3 class="pull-left">Patient remarks</h3>

						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">

							<div class="panel panel-default">
								<div class="panel-body">

									<div class="row">
										<div class="col-xs-12 col-md-8">
											<p class="remarks" ng-bind="ctlPatient.patient.remarks"></p>
										</div>
									</div>

								</div>

							</div>

						</div>
					</div>

				</tab>

			</tabset>

		</div>
	</div>
</div>
