<div>
	<h1>Patient details</h1>
</div>
<div>
	<code>
		{{ ctlPatient.patient | json }}
	</code>
	<div>
		<a href="#/patients/edit/{{ ctlPatient.patient.id }}">Edit patient</a>
	</div>
</div>
<div>
	<div>
		<h2>Assessment overview</h2>
		<a href="#/patients/{{ ctlPatient.patient.id }}/assessment/new">New Assessment</a>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Type</th>
					<th>Unanswered</th>
					<th>PLT</th>
					<th>Result</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="assessment in ctlPatient.patient.assessments | orderBy:'start_date':true">
					<td>{{ assessment.start_date | date }}</td>
					<td>{{ assessment.questionnaire }}</td>
					<td>TODO</td>
					<td>{{ assessment.platelets }}</td>
					<td>{{ assessment.result | json }}</td>
					<td><a href="#/patients/{{ ctlPatient.patient.id }}/assessment/edit/{{ assessment.id }}">Details</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<h2>Status overview</h2>
		<a href="#/patients/{{ ctlPatient.patient.id }}/status/new">New Status</a>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Transplant</th>
					<th>Source</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="status in ctlPatient.patient.statuses | orderBy:'transplant_date':true" data-id="{{ status.id }}">
					<td>{{ status.transplant_date | date }}</td>
					<td>{{ status.transplant_type }}</td>
					<td>{{ status.transplant_source || status.transplant_custom }}</td>
					<td><a href="#/patients/{{ ctlPatient.patient.id }}/status/edit/{{ status.id }}">Details</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
