
<top-nav title="{{ ctlPatient.isNew ? 'Add new' : 'Edit' }} patient"></top-nav>

<panel>

	<form role="form" name="ctlPatient.patientForm" novalidate>

		<div class="row">

			<div class="col-xs-12 col-sm-6">
				<div class="form-group" bs-validate-class="ctlPatient.patientForm.patient_lastname">
					<label class="control-label" for="patient_lastname">Last name*</label>
					<input tabindex="1" id="patient_lastname" name="patient_lastname" class="form-control" type="text" ng-model="ctlPatient.patient.lastname" required />
				</div>
				<div class="form-group" bs-validate-class="ctlPatient.patientForm.patient_birthdate">
					<label class="control-label" for="patient_birthdate">Date of birth*</label>
					<input tabindex="3" id="patient_birthdate" name="patient_birthdate" class="form-control" type="text" ng-model="ctlPatient.patient.birthdate" mask-input="yyyy-mm-dd" placeholder="yyyy-mm-dd" required date-compare="current < now" />
					<div class="text-danger" ng-show="ctlPatient.patientForm.patient_birthdate.$error.dateCompare">Birthdate cannot be in the future</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="patient_patient_number">Patient number</label>
					<input tabindex="5" id="patient_patient_number" name="patient_patient_number" class="form-control" type="text" ng-model="ctlPatient.patient.patient_number" />
				</div>

				<div class="form-group">
					<label class="control-label" for="patient_diagnosis">Diagnosis</label>
					<select tabindex="7" id="patient_diagnosis" name="patient_diagnosis" class="form-control" ng-model="ctlPatient.patient.diagnosis">
						<option value="">Undiagnosed</option>
						<option value="Acute myeloid leukemia">Acute myeloid leukemia</option>
						<option value="Acute lymphoblastic leukemia">Acute lymphoblastic leukemia</option>
						<option value="Leukemia, not otherwise specified">Leukemia, not otherwise specified</option>
						<option value="Lymphoma">Lymphoma</option>
						<option value="Myeloproliferative neoplasm">Myeloproliferative neoplasm</option>
						<option value="Myelodysplastic syndrome">Myelodysplastic syndrome</option>
						<option value="Myeloid neoplasm, not otherwise specified">Myeloid neoplasm, not otherwise specified</option>
						<option value="Autoimmune disease">Autoimmune disease</option>
						<option value="Immunodeficiency">Immunodeficiency</option>
						<option value="Aplastic anemia">Aplastic anemia</option>
						<option value="Other">Other</option>
					</select>
				</div>

				<div class="checkbox">
					<label class="control-label">
						<input tabindex="9" id="patient_is_active" name="patient_is_active" type="checkbox" ng-model="ctlPatient.patient.is_active" ng-true-value="true" ng-false-value="false" /> Active
					</label>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6">
				<div class="form-group" bs-validate-class="ctlPatient.patientForm.patient_firstname">
					<label class="control-label" for="patient_firstname">First name*</label>
					<input tabindex="2" id="patient_firstname" name="patient_firstname" class="form-control" type="text" ng-model="ctlPatient.patient.firstname" required />
				</div>
				<div class="form-group" bs-validate-class="ctlPatient.patientForm.patient_sex">
					<label class="control-label" for="patient_sex">Gender*</label>
					<select tabindex="4" id="patient_sex" name="patient_sex" class="form-control" ng-model="ctlPatient.patient.sex" required>
						<option value="">Not specified</option>
						<option value="m">Male</option>
						<option value="f">Female</option>
					</select>
				</div>
				<div class="form-group" bs-validate-class="ctlPatient.patientForm.patient_upn">
					<label class="control-label" for="patient_upn">UPN number</label>
					<input tabindex="6" id="patient_upn" name="patient_upn" class="form-control" type="text" ng-model="ctlPatient.patient.upn" />
				</div>
				<div class="form-group" bs-validate-class="ctlPatient.patientForm.patient_diagnosis_date">
					<label class="control-label" for="patient_diagnosis_date">Date initial diagnosis</label>
					<input tabindex="8" id="patient_diagnosis_date" name="patient_diagnosis_date" class="form-control" type="text" ng-model="ctlPatient.patient.diagnosis_date" mask-input="yyyy-mm-dd" placeholder="yyyy-mm-dd" date-compare="current < now && current > ctlPatient.patient.birthdate.date" />
					<div class="text-danger" ng-show="ctlPatient.patientForm.patient_diagnosis_date.$error.dateCompare">Initial diagnosis date cannot be in the future or before birth</div>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="form-group" bs-validate-class="ctlPatient.patientForm.patient_remarks">
					<label class="control-label" for="patient_remarks">Remarks</label>
					<textarea tabindex="10" id="patient_remarks" name="patient_remarks" class="form-control" cols="30" rows="5" ng-model="ctlPatient.patient.remarks"></textarea>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-12">
				<a class="btn btn-default" href="#{{ ctlPatient.getReturnPath() }}">Cancel</a>
				<button tabindex="11" class="btn btn-default" type="button" ng-disabled="ctlPatient.patientForm.$invalid" ng-click="ctlPatient.save()">Save</button>
			</div>
		</div>

	</form>

	<pre ng-if="env.debug" class="debug-output">
{{ ctlPatient.patient.firstname }} {{ ctlPatient.patient.lastname }}<br />
{{ ctlPatient.patient.birthdate | json }} ({{ ctlPatient.patient.sex }})<br />
{{ ctlPatient.patient.patient_number }} / {{ ctlPatient.patient.upn }}<br />
{{ ctlPatient.patient.diagnosis_date | json }} -> {{ ctlPatient.patient.diagnosis }}<br />
{{ ctlPatient.patient.patient_blood_type }} -> {{ ctlPatient.patient.donor_blood_type }}<br />
is active: {{ ctlPatient.patient.is_active | boolyesno }}
	</pre>

	<pre ng-if="env.debug" class="debug-output">{{ ctlPatient.patientForm | json }}</pre>

</panel>

<panel ng-if="!ctlPatient.isNew && claims.permission('canDeleteResource', ctlPatient.patient)" heading="Admin">

	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-default pull-right" data-toggle="modal" data-target="#modal_delete_confirm">Delete Patient Data {{ larTest }}</button>
		</div>
	</div>

</panel>

<div class="modal fade" id="modal_delete_confirm" tabindex="-1" role="dialog" aria-labelledby="modal_delete_confirm_label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal_delete_confirm_label">Delete Patient Data</h4>
			</div>
			<div class="modal-body">
				<p>Patient Data including assessments will be deleted permanently. Click "Delete" to continue.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" bs-modal-action="ctlPatient.delete()">Delete</button>
			</div>
		</div>
	</div>
</div>
