
<top-nav title="{{ ctlPatient.isNew ? 'Add new' : 'Edit' }} patient"></top-nav>

<panel>

	<form role="form" name="ctlPatient.patientForm" novalidate>

		<div class="row">

			<div class="col-xs-12 col-sm-6">
				<div class="form-group" bs-validate-class="ctlPatient.patientForm.patient_lastname">
					<label class="control-label" for="patient_lastname">Last name*:</label>
					<input tabindex="1" id="patient_lastname" name="patient_lastname" class="form-control" type="text" ng-model="ctlPatient.patient.lastname" required />
				</div>
				<div class="form-group" bs-validate-class="ctlPatient.patientForm.patient_birthdate">
					<label class="control-label" for="patient_birthdate">Date of birth*:</label>
					<input tabindex="3" id="patient_birthdate" name="patient_birthdate" class="form-control" type="text" ng-model="ctlPatient.patient.birthdate" mask-input="yyyy-mm-dd" placeholder="yyyy-mm-dd" required />
				</div>
				<div class="form-group">
					<label class="control-label" for="patient_patient_number">Patient number:</label>
					<input tabindex="5" id="patient_patient_number" name="patient_patient_number" class="form-control" type="text" ng-model="ctlPatient.patient.patient_number" />
				</div>

				<div class="form-group">
					<label class="control-label" for="patient_diagnosis">Diagnosis:</label>
					<select tabindex="7" id="patient_diagnosis" name="patient_diagnosis" class="form-control" ng-model="ctlPatient.patient.diagnosis">
						<option value="">Undiagnosed</option>
						<option value="Acute myelogenous leukemia">Acute myelogenous leukemia</option>
						<option value="Acute lymphatic leukemia">Acute lymphatic leukemia</option>
						<option value="Leukemia, not otherwise specified">Leukemia, not otherwise specified</option>
						<option value="Lymphoma">Lymphoma</option>
						<option value="Myeloproliferative neoplasm">Myeloproliferative neoplasm</option>
						<option value="Myelodysplastic syndrome">Myelodysplastic syndrome</option>
						<option value="Myeloid neoplasm, not otherwise specified">Myeloid neoplasm, not otherwise specified</option>
						<option value="Autoimmune disease">Autoimmune disease</option>
						<option value="Immunodeficiency">Immunodeficiency</option>
						<option value="Aplastic anemia">Aplastic anemia</option>
						<option value="Other">Other</option>
					</select>
				</div>

				<div class="checkbox">
					<label class="control-label">
						<input tabindex="9" id="patient_is_active" name="patient_is_active" type="checkbox" ng-model="ctlPatient.patient.is_active" ng-true-value="true" ng-false-value="false" /> Active
					</label>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6">
				<div class="form-group" bs-validate-class="ctlPatient.patientForm.patient_firstname">
					<label class="control-label" for="patient_firstname">First name*:</label>
					<input tabindex="2" id="patient_firstname" name="patient_firstname" class="form-control" type="text" ng-model="ctlPatient.patient.firstname" required />
				</div>
				<div class="form-group" bs-validate-class="ctlPatient.patientForm.patient_sex">
					<label class="control-label" for="patient_sex">Gender*:</label>
					<select tabindex="4" id="patient_sex" name="patient_sex" class="form-control" ng-model="ctlPatient.patient.sex" required>
						<option value="">Not specified</option>
						<option value="m">Male</option>
						<option value="f">Female</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label" for="patient_upn">UPN number:</label>
					<input tabindex="6" id="patient_upn" name="patient_upn" class="form-control" type="text" ng-model="ctlPatient.patient.upn" />
				</div>
				<div class="form-group">
					<label class="control-label" for="patient_diagnosis_date">Date initial diagnosis:</label>
					<input tabindex="8" id="patient_diagnosis_date" name="patient_diagnosis_date" class="form-control" type="text" ng-model="ctlPatient.patient.diagnosis_date" mask-input="yyyy-mm-dd" placeholder="yyyy-mm-dd" />
				</div>
			</div>

			<div class="col-xs-12">
				<div class="form-group">
					<label class="control-label" for="patient_remarks">Remarks:</label>
					<textarea tabindex="10" id="patient_remarks" name="patient_remarks" class="form-control" cols="30" rows="5" ng-model="ctlPatient.patient.remarks"></textarea>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-12">
				<a class="btn btn-default" href="#{{ ctlPatient.getReturnPath() }}">Cancel</a>
				<button tabindex="11" class="btn btn-default" type="button" ng-disabled="ctlPatient.patientForm.$invalid" ng-click="ctlPatient.save()">Save</button>
			</div>
		</div>

	</form>

	<pre ng-if="env.debug" class="debug-output">
{{ ctlPatient.patient.firstname }} {{ ctlPatient.patient.lastname }}<br />
{{ ctlPatient.patient.birthdate | json }} ({{ ctlPatient.patient.sex }})<br />
{{ ctlPatient.patient.patient_number }} / {{ ctlPatient.patient.upn }}<br />
{{ ctlPatient.patient.diagnosis_date | json }} -> {{ ctlPatient.patient.diagnosis }}<br />
{{ ctlPatient.patient.patient_blood_type }} -> {{ ctlPatient.patient.donor_blood_type }}<br />
is active: {{ ctlPatient.patient.is_active | boolyesno }}
	</pre>

	<pre ng-if="env.debug" class="debug-output">{{ ctlPatient.patientForm | json }}</pre>

</panel>
