
# Cache and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/export/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/export/.gitkeep
/var/bootstrap.php.cache
/var/*.php

# Symfony parameters
/app/config/parameters.yml

# Third party components
/vendor/
/bin/
/composer.phar

/web/bundles/
/web/js/
/web/css/
