
<top-nav title="Export" nav-url="#/patients" nav-label="Overview"></top-nav>


<div class="container">
    <div class="row">
        <div class="col-xs-12 clearfix">

            <button class="btn btn-default" ng-click="ctlExport.generate()">Export</button>

			<div ng-if="ctlExport.downloadLink">
				<iframe style="display: none;" src="{{ ctlExport.downloadLink }}" />
				<p>Your download should start immediately, if it does not, please click on the following link to
					download your export</p>
				<p><a href="{{ ctlExport.downloadLink }}">{{ ctlExport.downloadName }}</a></p>
			</div>

        </div>
    </div>
</div>
