
<top-nav ng-if="ctlExport.patient" title="Export" nav-url="#/patients/detail/{{ ctlExport.patient.id }}" nav-label="Back to patient detail" nav-scope="overview"></top-nav>
<top-nav ng-if="!ctlExport.patient" title="Export" nav-url="#/patients" nav-label="Back to patient overview" nav-scope="overview"></top-nav>

<panel ng-if="ctlExport.patient">
	<div class="row">
		<div class="col-xs-12">
			<h4>{{ ctlExport.patient | patientname }}</h4>
			Date of birth: {{ ctlExport.patient.birthdate.date | isodate }}
		</div>
	</div>
</panel>

<form role="form" name="ctlExport.filterForm" novalidate>
	<panel ng-if="!ctlExport.patient" heading="Patient data">
		<div class="row">
			<div class="col-xs-12 clearfix">

				<p>All patients</p>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="patient_active" checked="checked" ng-model="ctlExport.filter.patient.active" ng-true-value="true" ng-false-value="false" ng-change="ctlExport.onFilterChange()" /> Export only assessments from active patients
					</label>
				</div>

			</div>
		</div>
	</panel>

	<panel heading="Assessment data">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<!--
				<div class="input-group">
					<input type="text" class="form-control" uib-datepicker-popup="{{ ctlExport.BleedHdConfig.format.isodate }}" ng-model="ctlExport.filter.assessment.startFrom.date" is-open="startFromOpen" datepicker-options="ctlExport.datepickerOptions" close-text="Close" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="startFromOpen = true"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
				-->

				<div class="form-group">
					<label class="control-label" for="assessment_start_date_from">Assessment start date (from)</label>
					<input id="assessment_start_date_from" name="assessment_start_date_from" class="form-control" type="text" ng-model="ctlExport.filter.assessment.startFrom" mask-input="yyyy-mm-dd" placeholder="yyyy-mm-dd" ng-change="ctlExport.onFilterChange()" />
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="form-group">
					<label class="control-label" for="assessment_start_date_to">Assessment start date (until)</label>
					<input id="assessment_start_date_to" name="assessment_start_date_to" class="form-control" type="text" ng-model="ctlExport.filter.assessment.startTo" mask-input="yyyy-mm-dd" placeholder="yyyy-mm-dd" ng-change="ctlExport.onFilterChange()" />
				</div>
			</div>

			<div class="col-xs-12 clearfix">
				<div class="checkbox">
					<label class="control-label">
						<input type="checkbox" name="assessment_progress" ng-model="ctlExport.filter.assessment.progress" ng-true-value="{{ ctlExport.DomainConst.progress.completed | json }}" ng-false-value="{{ ctlExport.DomainConst.progress.tentative | json }}" ng-change="ctlExport.onFilterChange()" /> only completed assessments
					</label>
				</div>
			</div>
		</div>
	</panel>

	<panel heading="Assessment data">

		<div class="row">
			<div class="col-xs-12 col-sm-6">

				<div class="form-group">
					<label class="control-label" for="questionnaire">Assessment Type<sup>*</sup></label>
					<select id="questionnaire" name="questionnaire" class="form-control" ng-model="ctlExport.typeMap.questionnaire" ng-change="ctlExport.onQuestionnaireChange()" required>
						<option ng-repeat="questionnaire in ctlExport.availableQuestionnaires track by questionnaire.key" value="{{questionnaire.key}}" ng-selected="questionnaire.key === ctlExport.typeMap.questionnaire">{{questionnaire.name}} ({{questionnaire.count}})</option>
					</select>
				</div>

				<div class="form-group">
					<label class="control-label" for="export">Export Type<sup>*</sup></label>
					<select id="export" name="export" class="form-control" ng-model="ctlExport.typeMap.export" required>
						<option ng-repeat="exportType in ctlExport.availableExportConfigs" value="{{exportType.key}}" ng-selected="exportType.key === ctlExport.typeMap.export">{{exportType.name}}</option>
					</select>
				</div>

				<div class="form-group">
					<label class="control-label" for="export_base_name">File name</label>
					<input id="export_base_name" name="export_base_name" class="form-control" type="text" ng-model="ctlExport.exportSettings.baseName" />
				</div>

				<div class="form-group">
					<button class="btn btn-default" ng-disabled="ctlExport.filterForm.$invalid" ng-click="ctlExport.generate()">Export ({{ ctlExport.filteredAssessmentCount || 0 }})</button>
				</div>

			</div>

			<div ng-if="ctlExport.exportFile" class="row">
				<div class="col-xs-12 col-sm-6">
					<iframe style="display: none;" src="{{ ctlExport.exportFile.url }}" />
					<p>Your download should start immediately, if it does not, please click on the following link to
						download your export</p>
					<p><a href="{{ ctlExport.exportFile.url }}">{{ ctlExport.exportFile.name }}</a></p>
				</div>
			</div>

		</div>

		<pre ng-if="env.debug" class="debug-output">{{ ctlExport.exportSettings | json }}</pre>

	</panel>

</form>

<div class="modal fade" id="modal_export_process" tabindex="-1" role="dialog" aria-labelledby="modal_export_process_label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modal_export_process_label">Exporting data ...</h4>
			</div>
			<div class="modal-body">
				<p class="text-center">
					<img ng-src="{{'images/ajax-loader.gif' | resourcePath}}" alt="" />
				</p>
			</div>
		</div>
	</div>
</div>
