<div class="bleed-sub-answer">
	<h6 question-markup="supplementCtl.definition.question.title"></h6>
	<div class="radio">
		<label ng-if="supplementCtl.definition.label" question-markup="supplementCtl.definition.label"></label>
		<label ng-repeat="option in supplementCtl.getOptions()">
			<input type="radio" ng-disabled="!active" ng-model="supplementCtl.value" ng-model-options="{ getterSetter: true }" ng-change="supplementCtl.onChange(option)" ng-value="option.value">
			<span question-markup="option.label"></span>
		</label>
	</div>
</div>
