<div class="bleed-sub-answer">
	<h6 question-markup="supplementCtl.definition.question.title"></h6>

	<div class="form-group">
		<label class="control-label" ng-if="supplementCtl.definition.label" question-markup="supplementCtl.definition.label"></label>
		<input type="text" class="form-control" ng-disabled="!active" model-filter-expression="supplementCtl.filterExpression" placeholder="{{ supplementCtl.definition.placeholder }}" ng-model="supplementCtl.value" ng-model-options="{ getterSetter: true }" ng-change="supplementCtl.onChange()">
	</div>

</div>
