<div class="bleed-sub-answer">
	<h6 question-markup="supplementCtl.definition.question.title"></h6>

	<div class="form-group">
		<label class="control-label" ng-if="supplementCtl.definition.label" question-markup="supplementCtl.definition.label"></label>
		<textarea rows="{{ supplementCtl.rows }}" cols="{{ supplementCtl.cols }}" class="form-control" ng-disabled="!active" placeholder="{{ supplementCtl.definition.placeholder }}" ng-model="supplementCtl.value" ng-model-options="{ getterSetter: true }" ng-change="supplementCtl.onChange()">
		</textarea>
	</div>

</div>
