
<div class="panel panel-default">

	<div class="panel-heading clearfix">
		<div class="pull-left panel-title">
			{{ question.title }}
		</div>
		<div class="pull-right">
			TBD
		</div>
	</div>

	<div class="panel-body">
		<div class="bleed-question">
			<div class="row">
				<div class="col-xs-12">
					<h2 ng-bind-html="question.intro.question"></h2>
					<p ng-bind-html="question.intro.description"></p>
				</div>
			</div>
		</div>

		<div class="bleed-answers">
			<question-impl type="'yesno'"></question-impl>
		</div>
	</div>

	<div class="panel-footer clearfix">
		<div class="bleed-meta-answers pull-left">
			<label ng-repeat="metaAnswer in question.meta_answers"><input type="radio" ng-model="questionCtl.result.meta" value="{{ metaAnswer }}">{{ metaAnswer }}</label>
		</div>
		<div class="pull-right">
			TODO X/Y
		</div>
	</div>

</div><!-- /.panel -->
