// import getunik mixins
@import url('../getunikpreprocessormixins/_getunik_mixins.less');

// import bootstrap.less
@import url('_bootstrap.less');

// import components
@import url('_login.less');
@import url('_meta.less');




// custom overrides here.....
.bleed-header {
	margin-bottom: 30px;

	.btn {
		margin-top: 10px;
	}
}

.bleed-answers {
	font-size: 18px;

	label {
		margin-bottom: 5px;
		font-weight: normal;
	}
}

.bleed-meta-answers {

	label {
		font-weight: normal;
		color: #666666;
		margin-right: 10px;
	}
}

.bleed-answers-group {
	padding: 15px;
	margin-bottom: 20px;
	border: #eeeeee 1px solid;
	.border-top-radius(@border-radius-base);
	.border-right-radius(@border-radius-base);
	.border-bottom-radius(@border-radius-base);
	.border-left-radius(@border-radius-base);
}

.bleed-sub-answer {
	padding-left: 60px;

	&.disabled {
		color: #999999;
	}
}

.bleed-annotations {
	font-size: 12px;
}


.nav-tabs {
	margin-bottom: 20px;
}

.environment-indicator {
	display: none;

	&.dev {
		background-color: #75FF47;
		display: block;
		position: fixed;
		top: 3px;
		right: 3px;
	}
}
