{% extends "GetunikBleedHdAssessmentUIBundle::layout.html.twig" %}

{% trans_default_domain 'AssessmentUIBundle' %}

{% block scripts %}
	{% if app.environment == 'dev' %}
		{% javascripts output='js/compiled/angular.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/js/jquery/jquery-2.1.1.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/js/lodash/lodash.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/core/angular.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/core/angular-route.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/core/angular-sanitize.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/ui-router/angular-ui-router.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/resource/angular-resource.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/restangular/restangular.js'
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% else %}
		{% javascripts output='js/compiled/angular.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/js/jquery/jquery-2.1.1.min.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/js/lodash/lodash.min.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/core/angular.min.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/core/angular-route.min.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/core/angular-sanitize.min.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/ui-router/angular-ui-router.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/resource/angular-resource.js'
			'@GetunikBleedHdAssessmentUIBundle/Resources/angular/restangular/restangular.min.js'
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endif %}


	{% javascripts filter="angular" output="js/compiled/templates.js"
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*.view.html'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*/*.view.html'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	{% javascripts output="js/compiled/app.js"
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/bleedhd.module.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/bleedhd.routes.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/bleedhd.services.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/bleedhd.filters.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/*.service.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*.module.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*.service.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*.directive.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*.type.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*/*.type.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*/*.score.js'
		'@GetunikBleedHdAssessmentUIBundle/Resources/app/components/*/*.controller.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock scripts %}

{% block content %}
<h1>Bleed HD</h1>
<div ng-view autoscroll="true"></div>
{% endblock content %}
