<panel ng-if="ctlAssessment.isNew" heading="Start new bleeding assessment">

	<div class="row">

		<div class="col-xs-12 col-sm-6">
			<h4>Bleeding</h4>
			<a href="" ng-if="env.debug" ng-if="ctlAssessment.supportsType('demo')" class="btn btn-block btn-default" ng-click="ctlAssessment.createAndStart('demo')">DEMO</a>
			<a href="" ng-if="ctlAssessment.supportsType('who')" class="btn btn-block btn-default" ng-click="ctlAssessment.createAndStart('who')">WHO</a>
			<a href="" ng-if="ctlAssessment.supportsType('bsms')" class="btn btn-block btn-default" ng-click="ctlAssessment.createAndStart('bsms')">BSMS</a>
		</div>

	</div>

</panel>
