<panel heading="Start new bleeding assessment">

	<div class="row">

		<div class="col-xs-12 col-sm-6">
			<div class="list-group">
				<a href="" ng-if="env.debug" ng-if="ctlAssessment.supportsType('demo')" ng-click="ctlAssessment.createAndStart('demo')" class="list-group-item">
					<h4 class="list-group-item-heading">DEMO</h4>
					<p class="list-group-item-text">This is a demo assessment that showcases different types of questions. It exists purely for debug reasons and only shows up if the debug flag is enabled.</p>
				</a>
				<a href="" ng-if="ctlAssessment.supportsType('who')" ng-click="ctlAssessment.createAndStart('who')" class="list-group-item">
					<h4 class="list-group-item-heading">WHO</h4>
				</a>
				<a href="" ng-if="ctlAssessment.supportsType('bsms')" ng-click="ctlAssessment.createAndStart('bsms')" class="list-group-item">
					<h4 class="list-group-item-heading">BSMS</h4>
				</a>
			</div>
		</div>

	</div>

</panel>
