<panel heading="Start new GVHD assessment">

	<div class="row">

		<div class="col-xs-12">

			<h3>GVHD - Initial diagnosis and classification:</h3>
			<p>To be completed when patients are assessed for acute or chronic GVHD and have either no signs and symptoms of acute or chronic GVHD or if new signs and symptoms of acute or chronic GVHD are present.</p>

		</div>
		<div class="col-xs-12 col-sm-6">

			<div class="list-group">
				<a href="" ng-if="ctlAssessment.supportsType('gvhd-features')" ng-click="ctlAssessment.createAndStart('gvhd-features')" class="list-group-item">
					<h4 class="list-group-item-heading">Features</h4>
					<p class="list-group-item-text">Provides general information if signs or symptoms of acute and/or chronic GVHD are present or absent.</p>
				</a>
				<a href="" ng-if="ctlAssessment.supportsType('gvhd-new-diagnosis')" ng-click="ctlAssessment.createAndStart('gvhd-new-diagnosis')" class="list-group-item">
					<h4 class="list-group-item-heading">New diagnosis</h4>
					<p class="list-group-item-text">Has to be completed when GVHD is suspected (first time manifestation of acute or chronic GVHD or new manifestations suggestive for cGVHD in patient who suffered from aGVHD only yet) to perform a complete assessment and confirm diagnosis of GVHD.</p>
				</a>
			</div>

		</div>
		<div class="col-xs-12">

			<h3>GVHD-Scoring at diagnosis</h3>
			<p>Complete this section after diagnosis of GVHD is confirmed for organ and overall scoring.</p>

		</div>
		<div class="col-xs-12 col-sm-6">

			<div class="list-group">

				<a href="" ng-if="ctlAssessment.supportsType('gvhd-late-onset-acute')" ng-click="ctlAssessment.createAndStart('gvhd-late-onset-acute')" class="list-group-item">
					<h4 class="list-group-item-heading">Late-onset aGVHD classification</h4>
					<p class="list-group-item-text">Further characterization of diagnosis “late-onset acute GVHD”: persistent or recurrent.</p>
				</a>
				<a href="" ng-if="ctlAssessment.supportsType('gvhd-organ-scoring')" ng-click="ctlAssessment.createAndStart('gvhd-organ-scoring')" class="list-group-item">
					<h4 class="list-group-item-heading">Organ scoring</h4>
					<p class="list-group-item-text">Provides more detailed information about GVHD manifestation in organs involved.</p>
				</a>
			</div>

		</div>
		<div class="col-xs-12">

			<h3>GVHD response assessment</h3>
			<p>Use this section for follow-up assessments of signs and symptoms of acute or chronic GVHD after diagnosis and staging (GVHD-Scoring at diagnosis) have been completed.</p>
			<p>Measurements should be made at regular intervals, for example every three months, and whenever a new systemic immunosuppressive treatment is started or the patient stops a treatment.</p>

		</div>
		<div class="col-xs-12 col-sm-6">

			<div class="list-group">
				<a href="" ng-if="ctlAssessment.supportsType('agvhd-follow-up')" ng-click="ctlAssessment.createAndStart('agvhd-follow-up')" class="list-group-item">
					<h4 class="list-group-item-heading">aGVHD follow-up</h4>
					<p class="list-group-item-text">Follow-up of acute GVHD by assessor if no chronic GVHD is present</p>
				</a>
				<a href="" ng-if="ctlAssessment.supportsType('gvhd-activity-assessment')" ng-click="ctlAssessment.createAndStart('gvhd-activity-assessment')" class="list-group-item">
					<h4 class="list-group-item-heading">Activity assessment</h4>
					<p class="list-group-item-text">Follow-up of chronic GVHD by assessor</p>
				</a>
				<a href="" ng-if="ctlAssessment.supportsType('gvhd-self-report')" ng-click="ctlAssessment.createAndStart('gvhd-self-report')" class="list-group-item">
					<h4 class="list-group-item-heading">Patient self report</h4>
					<p class="list-group-item-text">Follow-up of chronic GVHD by patient</p>
				</a>
			</div>

		</div>

	</div>

</panel>
