<panel ng-if="quickLinkCtl.isVisible()" heading="Quick links">
	<div class="row bleed-quick-links">
		<div class="col-xs-12" ng-switch="quickLinkCtl.callback === undefined">
			<a ng-switch-when="false" ng-repeat="link in quickLinkCtl.quickLinks"
				ng-href=""
				ng-click="quickLinkCtl.navigate(link)"
				ng-class="{ completed: link.isCompleted, active: quickLinkCtl.isActive(link) }"
				class="btn btn-default bleed-quick-link">{{ link.label }}</a>
			<a ng-switch-default ng-repeat="link in quickLinkCtl.quickLinks"
				ng-href="#{{ quickLinkCtl.getLinkPath(link) }}"
				ng-class="{ completed: link.isCompleted, active: quickLinkCtl.isActive(link) }"
				class="btn btn-default bleed-quick-link">{{ link.label }}</a>
		</div>
	</div>
	<div ng-if="includeEdit" class="row">
		<div class="col-xs-12">
			<a class="btn btn-default pull-right" ng-href="#/assessment/{{ quickLinkCtl.context.patient.id }}/{{ quickLinkCtl.context.assessment.id }}/start">Edit assessment</a>
		</div>
	</div>
</panel>
