<div>

	<div>
		<h1>Question Screen</h1>
	</div>

	<div>
		<div>TODO: header stuff</div>
		<button type="button" ng-click="ctlScreen.saveModifiedResponses()">Save and return to assessment details</button>
	</div>

	<div ng-repeat="question in ctlScreen.screen.questions">
		<container data="question" response="ctlScreen.context.getResponseForQuestion(question.slug)"></container>
	</div>

	<div>
		<button type="button" ng-click="ctlScreen.saveModifiedResponses()">Save and previous question</button><br />
		<button type="button" ng-click="ctlScreen.saveModifiedResponses()">Save and next question</button>
	</div>

</div>
